<header class="bg-custom-card-bg text-custom-text p-4 shadow-lg animate-fade-in-down relative z-50">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <h1 class="text-2xl font-bold animate-pulse">{{ getTitle() }}</h1>
      @if (characterProfile()) {
        <div class="relative">
          <button (click)="toggleDropdown($event)" class="focus:outline-none">
            <img [src]="getAvatarUrl()" alt="Character Avatar" class="w-12 h-12 rounded-full">
          </button>
          @if (isDropdownOpen()) {
            <div class="absolute left-0 top-12 mt-2 w-52 bg-custom-card-bg rounded-md shadow-lg z-50">
              <p>Dropdown is open!</p>
              <ul class="py-2">
                <li class="px-4 py-2">
                  <a [style.color]="getClassColor(characterProfile()!.character_class.name)">
                    {{ characterProfile()?.name }} - {{ characterProfile()?.active_spec?.name }} {{ characterProfile()?.character_class?.name }}
                  </a>
                </li>
                <li class="px-4 py-2">
                  <a>iLvl: {{ characterProfile()?.average_item_level }}</a>
                </li>
                @if (characterProfile()?.guild) {
                  <li class="px-4 py-2">
                    <a [style.color]="getFactionColor(characterProfile()!.faction)">
                      &lt;{{ characterProfile()?.guild?.name }}&gt; - {{ characterProfile()?.realm?.name }}
                    </a>
                  </li>
                }
                <li class="px-4 py-2">
                  <a (click)="onLogout()" class="text-red-500 cursor-pointer">Logout</a>
                </li>
              </ul>
            </div>
          }
        </div>
      }
    </div>
    <div class="flex items-center space-x-2">
      <input type="text" [ngModel]="realm()" (ngModelChange)="onRealmChange($event)" placeholder="Realm"
        class="px-3 py-2 bg-custom-bg text-custom-text rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 ease-in-out animate-fade-in-right">
      <input type="text" [ngModel]="characterName()" (ngModelChange)="onCharacterNameChange($event)"
        placeholder="Character Name"
        class="px-3 py-2 bg-custom-bg text-custom-text rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 ease-in-out animate-fade-in-left">
      <button (click)="onFetchCharacter()"
        class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-all duration-300 ease-in-out animate-bounce">
        Fetch
      </button>
      @if (!characterProfile()) {
        <button (click)="onLogout()"
          class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition-all duration-300 ease-in-out animate-pulse">
          Logout
        </button>
      }
    </div>
  </div>
  @if (errorMessage()) {
    <div class="mt-4 text-red-500 animate-fade-in">
      {{ errorMessage() }}
    </div>
  }
</header>
