<div class="h-[calc(100vh-112px)] bg-custom-bg text-custom-text overflow-hidden">
  <div class="bg-custom-card-bg text-custom-text shadow-md">
    <div class="container mx-auto">
      <div class="flex justify-center items-center space-x-2 p-2">
        <h1 class="text-lg font-bold">Legacy</h1>
        <span class="text-sm opacity-70">
          {{ getTotalLegacyProgress() }}
        </span>
      </div>
    </div>
  </div>

  <div class="p-4 overflow-y-auto h-[calc(100vh-160px)]">
    @for (category of groupByCategory(achievements$ | async); track category.name) {
      <div class="collapse collapse-arrow bg-custom-card-bg mb-4 hover:bg-opacity-80 transition-all duration-300">
        <input type="checkbox" class="peer" />
        <div class="collapse-title text-xl font-medium">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-4">
              <h2 class="text-2xl font-bold">{{ category.name }}</h2>
              <span class="text-sm opacity-70">
                {{ getTotalCollectedCount(category.name) }}/{{ getTotalAchievementsCount(category.name) }}
              </span>
            </div>
          </div>
        </div>
        <div class="collapse-content">
          <div class="flex justify-end mb-4">
            <select class="select select-sm bg-custom-bg" (change)="filterAchievements($event, category.name)">
              <option value="all">All</option>
              <option value="collected">Collected</option>
              <option value="uncollected">Not Collected</option>
            </select>
          </div>

          @for (achievement of getFilteredAchievements(category.name); track achievement.achievementId) {
            <div class="mb-4">
              <!-- Main Achievement (Latest in Chain) -->
              <div class="flex items-center p-4 bg-custom-bg rounded-lg shadow-md hover:bg-opacity-80 transition-all duration-300"
                   [class.opacity-40]="!isCollected(achievement)">
                <img [src]="achievement.data.media.assets[0].value" 
                     alt="{{ achievement.data.name }}" 
                     class="w-16 h-16 mr-4"
                     [class.grayscale]="!isCollected(achievement)">
                <div class="flex-grow">
                  <h3 class="text-lg font-bold">{{ achievement.data.name }}</h3>
                  <p class="text-sm">{{ achievement.data.description }}</p>
                </div>
                @if (getAchievementChain(achievement).length > 1) {
                  <div class="collapse collapse-arrow min-h-0">
                    <input type="checkbox" class="peer" /> 
                    <div class="collapse-title min-h-0 p-0">
                    </div>
                    <div class="collapse-content">
                      @for (chainAchievement of getPreviousAchievements(achievement); track chainAchievement.achievementId) {
                        <div class="flex items-center mt-2 p-3 bg-custom-card-bg rounded-lg"
                             [class.opacity-40]="!isCollected(chainAchievement)">
                          <img [src]="chainAchievement.data.media.assets[0].value" 
                               alt="{{ chainAchievement.data.name }}" 
                               class="w-12 h-12 mr-3"
                               [class.grayscale]="!isCollected(chainAchievement)">
                          <div>
                            <h4 class="text-md font-semibold">{{ chainAchievement.data.name }}</h4>
                            <p class="text-xs">{{ chainAchievement.data.description }}</p>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
