<div class="relative h-screen overflow-hidden bg-custom-bg text-custom-text">

    <app-header [realm]="realm" [characterName]="characterName" (realmChange)="realm = $event"
        (characterNameChange)="characterName = $event" (authenticate)="authenticate()"
        (fetchCharacter)="fetchCharacter()">
    </app-header>

    @if (characterService.loading()) {
    <div class="flex justify-center items-center h-32">
        <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-custom-text"></div>
    </div>
    } @else if (characterService.error()) {
    <p class="text-red-500">Error: {{ characterService.error() }}</p>
    } @else {
    @if (characterEquipment && characterMedia) {
    <div class="relative h-full">
        <!-- Full-screen character image with reduced opacity -->
        @if (getMainRawImage()) {
        <img [src]="getMainRawImage()" alt="Character Image"
            class="absolute inset-0 w-full h-full object-cover opacity-70">
        }

        <!-- Equipment overlay -->
        <div class="absolute inset-0 p-4 overflow-auto">
            <h3 class="text-2xl font-bold mb-4 text-custom-text">Character Equipment</h3>
            @if (hasEquippedItems) {
            <div class="mb-4">
                <h4 class="text-xl font-semibold text-custom-text">Average Item Level: {{ getAverageItemLevel() }}</h4>
            </div>
            <div class="flex flex-wrap justify-between">
                <!-- Left column -->
                <div class="w-full md:w-5/12">
                    @for (item of getLeftColumnItems(); track $index) {
                    <div class="animate-fade-in-right animate-delay-{{ $index * 100 }} mb-4">
                        <app-equipment-card [item]="item" [isRightColumn]="false"></app-equipment-card>
                    </div>
                    }
                </div>

                <!-- Right column -->
                <div class="w-full md:w-5/12">
                    @for (item of getRightColumnItems(); track $index) {
                    <div class="animate-fade-in-left animate-delay-{{ ($index + 8) * 100 }} mb-4">
                        <app-equipment-card [item]="item" [isRightColumn]="true"></app-equipment-card>
                    </div>
                    }
                </div>
            </div>
            } @else {
            <p class="text-custom-text">No equipment data available.</p>
            }
        </div>
    </div>
    }

    @if (!characterEquipment && !characterMedia) {
    <p class="text-custom-text">No character data available. Please fetch a character.</p>
    }
    }
</div>